{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Zillow Listings</h1>
        <table>
            <thead>
                <tr>
                    <th>Address</th>
                    <th>Price</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
            {% for listing in listings %}
                <tr>
                    <td>{{ listing.address }}</td>
                    <td>{{ listing.price }}</td>
                    <td><a href="{{ listing.link }}" target="_blank">View</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
